* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
    background: #d4cbcb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
}


#saveBtn {
    background: #28a745;
    color: white;
}

#clearBtn {
    background: #dc3545;
    color: white;
}

